<div id="authentication" class="modal-dialog modal-sm" data-ng-controller="UserCtrl">
    <div class="modal-content">
        <div class="modal-header">
            <br>
            <center>
                BRND
            </center>
        </div>
        <div class="modal-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="login-content">
                    <center>
                        <label class="control-label">Login</label>
                    </center>
                    <br>
                    <form class="form-horizontal">
                        <fieldset>
                            <!-- Sign In Form -->
                            <!-- Text input-->
                            <div class="control-group">
                                <div class="controls">
                                    <input id="email-input"  type="text" class="form-control" placeholder="Email" class="input-medium" data-ng-model="loginForm.email">
                                </div>
                            </div>
                            <br>

                            <!-- Password input-->
                            <div class="control-group">
                                <div class="controls">
                                    <input id="password-input" class="form-control" type="password" placeholder="Password" class="input-medium" data-ng-model="loginForm.password">
                                </div>
                            </div>
                            <br><br>

                            <!-- Buttons -->
                            <div class="control-group">
                                <div class="controls">
                                    <center>
                                        <button id="login-btn" class="btn btn-sm btn-success" data-ng-click="login(loginForm)">Log In</button>
                                        <span> -or-</span>
                                        <button href="#signup-content" data-toggle="tab" class="btn btn-sm btn-primary">Sign Up</button>
                                    </center>
                                </div>
                            </div>
                            <br>
                            <center>
                                <label class="control-label">{{loginMessage}}</label>
                            </center>
                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane fade" id="signup-content">
                    <center>
                        <label class="control-label center">Sign Up</label>
                    </center>
                    <br>
                    <form class="form-horizontal">
                        <fieldset>
                            <!-- Sign Up Form -->
                            <!-- Text input-->
                            <div class="control-group">
                                <div class="controls">
                                    <input id="signup-email-input"  class="form-control" type="text" placeholder="Email" class="input-large"  data-ng-model="signUpForm.email">
                                </div>
                            </div>
                            <br>

                            <!-- Password input-->
                            <div class="control-group">
                                <div class="controls">
                                    <input id="signup-password" name="password" class="form-control" type="password" placeholder="Password" class="input-large" data-ng-model="signUpForm.password">
                                </div>
                            </div>
                            <br>

                            <!-- Confirm Password input-->
                            <div class="control-group">
                                <div class="controls">
                                    <input id="signup-confirm-password" class="form-control" type="password" placeholder="Confirm Password" class="input-large" data-ng-model="signUpForm.confirmPassword">
                                </div>
                            </div>
                            <br><br>
                            <!-- Buttons -->
                            <div class="control-group">
                                <div class="controls" class="center">
                                    <center>
                                        <button id="signup-btn" class="btn btn-sm btn-success" data-ng-click="signUp(signUpForm)">Sign Up</button>
                                        -or-
                                        <button href="#login-content" data-toggle="tab" class="btn btn-sm btn-primary">Login</button>
                                    </center>
                                </div>
                            </div>
                            <br>
                            <center>
                                <label class="control-label">{{signUpMessage}}</label>
                            </center>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>