<div data-ng-controller="GUICtrl">
    <!--Top bar-->
    <nav id="top-bar" class="row navbar-fixed-top container-fluid">
        <div id="tb-left" class="col-xs-5 col-sm-4">
            <a id="lsb-toggle" class="left-sidebar-toggle" data-ng-click="toggleLSB()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a id="tb-logo" class="navbar-brand" data-ng-click="toggleLSB()">LOGO</a>
        </div>
        <div id="tb-middle" class="col-xs-2 col-sm-4">
            <div id="tb-search-bar" class="col-sm-12">
                <input id="search-input" type="search" class="form-control input-sm" placeholder="Search" data-ng-model="searchString" data-ng-click="activateSearch()"/>
            </div>
        </div>
        <div id="tb-right" class="col-xs-5 col-sm-4">
            <div id="rsb-toggle" class="right-sidebar-toggle" data-ng-click="toggleRSB()">
                <p id= "tb-user-name" class="navbar-text">{{userAccount.email}}</p>
                <img src="app/images/userImage.png" class="img-circle"/>
            </div>
            <a id="top-bar-search-toggle" data-ng-click="activateSearch()">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </div>
    </nav>
    <!--Bottom Bar-->
    <nav id="bottom-bar" class="row navbar-fixed-bottom container-fluid">
        <div id="bb-left" class="hidden-xs col-sm-4">
        </div>
        <div id="bb-middle" class="col-xs-12 col-sm-4">
            <a id="top-bar-notifications-btn" class="bb-btn col-xs-3">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-bell"></span>
            </a>
            <a id="top-bar-mail-btn" class="bb-btn col-xs-3">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-envelope"></span>
            </a>
            <a id="top-bar-home-btn" class="bb-btn col-xs-3">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-home"></span>
            </a>
            <a id="top-bar-tasks-btn" class="bb-btn col-xs-3">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-tasks"></span>
            </a>
        </div>
        <div id="bb-right" class="hidden-xs col-sm-4">
        </div>
    </nav>
    <div id="page-instance">
        <!-- Left Sidebar -->
        <div id="left-side-bar">
            Application Navigation & Controls
        </div>
        <!-- Right Sidebar -->
        <div id="right-side-bar">
            <a id="right-side-bar-logout-btn" type="submit" class="btn btn-default btn-sm" data-ng-click="logout()">Logout</a>
            User Account & Profile Controls
            {{userAccount.id + userAccount.userAccountType}}
        </div>
        <!--Center content -->
        <div class="center-content" ui-view>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et lacus at justo facilisis vehicula ut et felis. Phasellus ut libero pretium nibh sollicitudin vulputate a sed urna. Ut dictum odio a est sodales blandit. Integer vitae nisl nisi, quis vehicula diam. Sed nec erat dictum nisi suscipit placerat. Quisque ligula enim, porttitor at sollicitudin eu, aliquet et justo. Ut eu dolor metus. Etiam vitae justo at metus auctor egestas ac in dolor. Etiam facilisis urna ipsum. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer vulputate, sapien sit amet suscipit pellentesque, est ipsum tempor erat, eu molestie risus dolor sit amet risus. Vestibulum adipiscing gravida tincidunt. Integer eu quam et lacus luctus molestie.

        </div>
    </div>

    <!--Search panel-->
    <div id="search-panel">
        <div id="search-controls">
            <input id="search-panel-input" type="search" class="form-control input-sm" placeholder="Search" data-ng-model="searchString"/>
        </div>
        <div id="search-results">
            <a data-ng-click="deactivateSearch()">Close</a>
            These are some search results
        </div>
    </div>
</div>




