/*===================================================== GENERAL GUI =================================================================*/

/*===============TOP BAR==============*/
#top-bar{
    min-height: 50px;
    max-height: 100px;
    display: block !important;
    padding:0;
}
#tb-left.xs{
    background-color: #333333;
}

.left-sidebar-toggle {
    display: block;
    float: left;
    height:50px;
    width: 50px;
    padding: 0px;
    margin: 0px;
}
.left-sidebar-toggle:hover  {
    background: #eeeeee !important;
}
.left-sidebar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background: #333333;
    margin-left:14px;
    margin-top: 17px;
}
.left-sidebar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
.left-sidebar-toggle.xs:hover  {
    background: #444 !important;
}
.left-sidebar-toggle.xs .icon-bar {
    background: #eeeeee;
}

#tb-logo{
    float:left;
    color: #333333 ;
}
#tb-logo.xs{
    color: #eeeeee;
}

#tb-user-info{
    float: right;
}
#tb-user-info:hover{
    background: #eeeeee !important;
}
#tb-user-info p{
    float: right;
    margin-left:0px;
    margin-right: 9px;

}
#tb-user-info img{
    float: left;
    margin:9px 9px 9px 9px;
    height: 32px;
    width: 32px;
}

#tb-search-bar{
    margin-top:10px;
}
#top-bar-search-toggle{
    display: block;
    float: right;
    height:50px;
    width: 50px;
    padding: 0px;
    margin: 0px;
    color: #eeeeee;
}
#top-bar-search-toggle:hover{
    background: #444 !important;
}
#top-bar-search-toggle .glyphicon{
    margin-left:19px;
    margin-top: 16px;
}


#top-bar-mail-toggle.fixed-width,
#top-bar-home-toggle.fixed-width,
#top-bar-notifications-toggle.fixed-width,
#top-bar-tasks-toggle.fixed-width{
    width: 50px;
}



.right-sidebar-toggle {
    display: block;
    float: right;
    height:50px;
    width: 50px;
    padding: 0px;
    margin: 0px;

}
.right-sidebar-toggle:hover  {
    background: #eeeeee !important;
}
.right-sidebar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background: #333333;
    margin-left:14px;
    margin-top: 17px;
}
.right-sidebar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
#rsb-toggle-xs:hover  {
    background: #444 !important;
}
#rsb-toggle-xs .icon-bar {
    background: #eeeeee;
}



#top-bar-mail-toggle{
     float:left;
     display: block;
     height:50px;
     padding: 0px;
     margin: 0px;
     color: #333333;
    text-align: center;
 }
#top-bar-mail-toggle:hover{
    background: #eeeeee !important;
}
#top-bar-mail-toggle .glyphicon{

    margin-top: 16px;
}

#top-bar-home-toggle{
    display: block;
    float: left;
    height:50px;
    padding: 0px;
    margin: 0px;
    color: #333333;
    text-align: center;
}
#top-bar-home-toggle:hover{
    background: #eeeeee !important;
}
#top-bar-home-toggle .glyphicon{
    margin-top: 16px;
}

#top-bar-notifications-toggle{
    display: block;
    float: left;
    height:50px;
    padding: 0px;
    margin: 0px;
    color: #333333;
    text-align: center;
}
#top-bar-notifications-toggle:hover{
    background: #eeeeee !important;
}
#top-bar-notifications-toggle .glyphicon{

    margin-top: 16px;
}

#top-bar-tasks-toggle{
    display: block;
    float: left;
    height:50px;
    padding: 0px;
    margin: 0px;
    color: #333333;
    text-align: center;
}
#top-bar-tasks-toggle:hover{
    background: #eeeeee !important;
}
#top-bar-tasks-toggle .glyphicon{
    margin-top: 16px;
}

#top-bar-login-btn{
    display: block;
    float:right;
    height: 50px;
    color: #333333;
    padding:13px;
    cursor:context-menu;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
#top-bar-login-btn:hover{

    background: #eeeeee !important;
    text-decoration: none;
}

/*===============SEARCH PANEL===========*/
#search-panel{
    transition: all .4s ease 0s;
    background-color: #333;
    position:fixed;
    width: 100%;
    bottom:-100%;
    top:100%;
    z-index: 999999;
}
#search-panel.search-panel-active-xs{
    top:0px;
    bottom:0px;
}
#search-panel.search-panel-active-default{
    top:50px;
    bottom:0px;

}
#search-panel #search-controls{
    margin:10px;
}
#search-panel #search-results{
    color: #f8f8f8;
    padding :0px 10px 0px 10px;
}

/*===============CONTENT===========*/
#page-instance {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    transition: all .6s ease 0s;
}
#page-instance.xs{
    padding-top: 100px;
}
#page-instance.lsb-active-xs {
    padding-left: 100%;
}
#page-instance.lsb-active-sm {
    padding-left: 33.3%;
}
#page-instance.lsb-active-md {
    padding-left: 25%;
}
#page-instance.lsb-active-lg {
    padding-left: 16.6%;
}
#page-instance.rsb-active-xs {
    padding-right: 100%;
}
#page-instance.rsb-active-sm {
    padding-right: 33.3%;
}
#page-instance.rsb-active-md {
    padding-right: 25%;
}
#page-instance.rsb-active-lg {
    padding-right: 16.6%;
}
.center-content {

}

/*===============LEFT SIDE BAR===========*/
#left-side-bar {
    background-color: #333;
    position: fixed;
    height: 100%;
    transition: all 0.6s ease 0s;
}
#left-side-bar.xs{
    left: -100%;
    width: 100%;
    border-right: 1px solid #444;
}
#left-side-bar.sm{
    left: -33.3%;
    width: 33.3%;
}
#left-side-bar.md{
    left: -25%;
    width: 25%;
}
#left-side-bar.lg{
    left: -16.6%;
    width: 16.6%;
}
#page-instance.lsb-active-xs #left-side-bar {
    left: 0px;
}
#page-instance.lsb-active-sm #left-side-bar {
    left: 0px;
}
#page-instance.lsb-active-md #left-side-bar {
    left: 0px;
}
#page-instance.lsb-active-lg #left-side-bar {
    left: 0px;
}

/*===============RIGHT SIDE BAR===========*/
#right-side-bar {
    background-color: #333;
    position: fixed;
    height: 100%;
    transition: all .6s ease 0s;
}
#right-side-bar.xs{
    right: -100%;
    width: 100%;
    border-left: 1px solid #000;
}
#right-side-bar.sm{
    right: -33.3%;
    width: 33.3%;
}
#right-side-bar.md{
    right: -25%;
    width: 25%;
}
#right-side-bar.lg{
    right: -16.6%;
    width: 16.6%;
}
#page-instance.rsb-active-xs #right-side-bar {
    right: 0px;
}
#page-instance.rsb-active-sm #right-side-bar {
    right: 0px;
}
#page-instance.rsb-active-md #right-side-bar {
    right: 0px;
}
#page-instance.rsb-active-lg #right-side-bar {
    right: 0px;
}

/*===============BOTTOM BAR============*/
#bottom-bar{

    bottom: -280px;
    min-height: 300px;
    border-top: 1px solid #e7e7e7;
    transition: all 0.6s ease 0s;
}
#bottom-bar.bottom-bar-active{
    bottom: 0px;
}





/*===================================================== LOGIN PAGE =================================================================*/


#authentication{

}
#authentication .modal-content {
    border:none;
    box-shadow:none;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    color: #333333;
}
#authentication .modal-body {

}
#authentication .modal-header{
    border-bottom: none;
}
#authentication .modal-footer{
    border-top: none;
}



