/*===================================================== GENERAL GUI =================================================================*/
body{background-color:#f8f8f8; }
/*===============TOP BAR==============*/
#top-bar{
    min-height: 50px;
    max-height: 100px;
    display: block;
    padding:0;
    margin: 0;
    background-color: #222326;
}
#tb-right.xs{
    background-color: #ffffff;
    border-bottom: 1px solid #efefef;
}

.left-sidebar-toggle {
    display: block;
    float: left;
    height:50px;
    width: 50px;
    padding: 0px;
    margin: 0px;
    color:#949599;
}
.left-sidebar-toggle:hover .icon-bar {
    background: #ffffff;

}
.left-sidebar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background: #949599;
    margin-left:14px;
    margin-top: 17px;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing: ease-out;
    -o-transition-duration: 0.3s;
    -o-transition-timing: ease-out;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing: ease-out;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing: ease-out;
    transition-duration: 0.3s;
    transition-timing: ease-out;
}
.left-sidebar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

#tb-logo{
    float:left;
    color:#ffffff;
    margin-left: 15px;
    margin-right: 20px;
}

#tb-user-info{
    float: right;
    color: #eeeeee;
}
#tb-user-info:hover{
    background: #ffffff !important;
    color: #222326;
}
#tb-user-info p{
    float: right;
    margin-left:0px;
    margin-right: 9px;
    cursor:context-menu;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#tb-user-info img{
    float: left;
    margin:9px 9px 9px 9px;
    height: 32px;
    width: 32px;
}

#tb-search-bar{
    margin-top:10px;
}
#top-bar-search-toggle{
    display: block;
    float: right;
    height:50px;
    width: 50px;
    padding: 0px;
    margin: 0px;
    color: #949599;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing: ease-out;
    -o-transition-duration: 0.3s;
    -o-transition-timing: ease-out;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing: ease-out;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing: ease-out;
    transition-duration: 0.3s;
    transition-timing: ease-out;
}
#top-bar-search-toggle:hover{
    color: #ffffff;
}
#top-bar-search-toggle .glyphicon{
    margin-left:19px;
    margin-top: 16px;
}

#top-bar-mail-toggle.default,
#top-bar-home-toggle.default,
#top-bar-notifications-toggle.default,
#top-bar-tasks-toggle.default{
    width: 50px;
    color:#949599;
}

#top-bar-mail-toggle.xs,
#top-bar-home-toggle.xs,
#top-bar-notifications-toggle.xs,
#top-bar-tasks-toggle.xs{
    width: 25%;
    color: #222326;
}

.right-sidebar-toggle {
    display: block;
    float: right;
    height:50px;
    width: 50px;
    padding: 0px;
    margin: 0px;

}
.right-sidebar-toggle:hover .icon-bar {
    background: #ffffff;
}
.right-sidebar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background: #949599;
    margin-left:14px;
    margin-top: 17px;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing: ease-out;
    -o-transition-duration: 0.3s;
    -o-transition-timing: ease-out;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing: ease-out;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing: ease-out;
    transition-duration: 0.3s;
    transition-timing: ease-out;
}
.right-sidebar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

#top-bar-mail-toggle{
     float:left;
     display: block;
     height:50px;
     padding: 0px;
     margin: 0px;
     text-align: center;
 }
#top-bar-mail-toggle.default:hover{
    color: #ffffff;
}
#top-bar-mail-toggle.xs:hover{
    background-color: #eeeeee;
}
#top-bar-mail-toggle .glyphicon{

    margin-top: 16px;
}

#top-bar-home-toggle{
    display: block;
    float: left;
    height:50px;
    padding: 0px;
    margin: 0px;
    color: #949599;
    text-align: center;
}
#top-bar-home-toggle.default:hover{
    color: #ffffff;
}
#top-bar-home-toggle.xs:hover{
    background-color: #eeeeee;
}
#top-bar-home-toggle .glyphicon{
    margin-top: 16px;
}

#top-bar-notifications-toggle{
    display: block;
    float: left;
    height:50px;
    padding: 0px;
    margin: 0px;
    color: #949599;
    text-align: center;
}
#top-bar-notifications-toggle.default:hover{
    color: #ffffff;
}
#top-bar-notifications-toggle.xs:hover{
    background-color: #eeeeee;
}

#top-bar-notifications-toggle .glyphicon{

    margin-top: 16px;
}

#top-bar-tasks-toggle{
    display: block;
    float: left;
    height:50px;
    padding: 0px;
    margin: 0px;
    color: #949599;
    text-align: center;
}
#top-bar-tasks-toggle.default:hover{
    color: #ffffff;
}
#top-bar-tasks-toggle.xs:hover{
    background-color: #eeeeee;
}
#top-bar-tasks-toggle .glyphicon{
    margin-top: 16px;
}

#top-bar-login-btn{
    display: block;
    float:right;
    height: 50px;
    color: #949599;
    padding:13px;
    cursor:context-menu;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing: ease-out;
    -o-transition-duration: 0.3s;
    -o-transition-timing: ease-out;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing: ease-out;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing: ease-out;
    transition-duration: 0.3s;
    transition-timing: ease-out;

}
#top-bar-login-btn:hover{

    color: #ffffff;
    text-decoration: none;
}

/*===============SEARCH PANEL===========*/
#search-panel{
    transition: all .4s ease 0s;
    background-color: #222326;
    border-top: 1px solid #333333;
    position:fixed;
    width: 100%;
    bottom:-100%;
    top:100%;
    z-index: 999999;
}
#search-panel.search-panel-active-xs{
    top:0px;
    bottom:0px;
}
#search-panel.search-panel-active-default{
    top:50px;
    bottom:0px;

}
#search-panel #search-controls{
    margin:10px;
}
#search-panel #search-results{
    color: #f8f8f8;
    padding :0px 10px 0px 10px;
}

/*===============CONTENT===========*/
#page-instance {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    transition: all .6s ease 0s;
}
#page-instance.xs{
    padding-top: 100px;
}
#page-instance.lsb-active-xs {
    padding-left: 100%;
}
#page-instance.lsb-active-sm {
    padding-left: 33.3%;
}
#page-instance.lsb-active-md {
    padding-left: 25%;
}
#page-instance.lsb-active-lg {
    padding-left: 16.6%;
}
#page-instance.rsb-active-xs {
    padding-right: 100%;
}
#page-instance.rsb-active-sm {
    padding-right: 33.3%;
}
#page-instance.rsb-active-md {
    padding-right: 25%;
}
#page-instance.rsb-active-lg {
    padding-right: 16.6%;
}
.center-content {

}

/*===============LEFT SIDE BAR===========*/
#left-side-bar {
    background-color: #222326;
    border-top: 1px solid #333333;
    position: fixed;
    height: 100%;
    transition: all .6s ease 0s;
}
#left-side-bar.xs{
    left: -100%;
    width: 100%;
    border-right: 1px solid #444;
}
#left-side-bar.sm{
    left: -33.3%;
    width: 33.3%;
}
#left-side-bar.md{
    left: -25%;
    width: 25%;
}
#left-side-bar.lg{
    left: -16.6%;
    width: 16.6%;
}
#page-instance.lsb-active-xs #left-side-bar {
    left: 0px;
}
#page-instance.lsb-active-sm #left-side-bar {
    left: 0px;
}
#page-instance.lsb-active-md #left-side-bar {
    left: 0px;
}
#page-instance.lsb-active-lg #left-side-bar {
    left: 0px;
}

/*===============RIGHT SIDE BAR===========*/
#right-side-bar {
    background-color: #222326;
    border-top: 1px solid #333333;
    position: fixed;
    height: 100%;
    transition: all .6s ease 0s;
}
#right-side-bar.xs{
    right: -100%;
    width: 100%;
    border-left: 1px solid #000;
}
#right-side-bar.sm{
    right: -33.3%;
    width: 33.3%;
}
#right-side-bar.md{
    right: -25%;
    width: 25%;
}
#right-side-bar.lg{
    right: -16.6%;
    width: 16.6%;
}
#page-instance.rsb-active-xs #right-side-bar {
    right: 0px;
}
#page-instance.rsb-active-sm #right-side-bar {
    right: 0px;
}
#page-instance.rsb-active-md #right-side-bar {
    right: 0px;
}
#page-instance.rsb-active-lg #right-side-bar {
    right: 0px;
}

/*===============BOTTOM BAR============*/
#bottom-bar{
    transition: all .4s ease 0s;
    background-color: #222326;
    border-top: 1px solid #333333;
    position:fixed;
    width: 100%;
    bottom:-100%;
    top:100%;
    z-index: 999999;
}
#bottom-bar.bottom-bar-active-xs{
    top:100px;
    bottom:0px;
}
#bottom-bar.bottom-bar-active-default{
    top:50px;
    bottom:0px;
}




/*===================================================== LOGIN PAGE =================================================================*/


#authentication{

}
#authentication .modal-content {
    border:none;
    box-shadow:none;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    color: #333333;
}
#authentication .modal-body {

}
#authentication .modal-header{
    border-bottom: none;
}
#authentication .modal-footer{
    border-top: none;
}



